<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [completed]="isCompleted">
    <form [formGroup]="accountFormGroup">
      <ng-template matStepLabel matStepperIcon="edit">{{ "fill_account" | translate }}</ng-template>
      <div class="item-box">
        <div class="item-text mb10">
          <div></div>
          <div class="item-row set-ipt">
            <input
              formControlName="account"
              [placeholder]="'import_account' | translate"
            />
            <mat-icon
              *ngIf="accountFormGroup.controls.account.value != ''"
              (click)="resetCol(accountFormGroup.controls.account, true)"
              svgIcon="cancel"
            ></mat-icon>
          </div>
          <validation-messages
            [control]="accountFormGroup.controls.account"
          ></validation-messages>
        </div>
        <div>
          <ng-container *ngIf="isLoading !== 'account'">
            <ng-container>
              <button
                class="button bg-brick auto"
                (click)="checkAccount()"
                [disabled]="!accountFormGroup.valid"
                [ngClass]="{ disable: !accountFormGroup.valid }"
              >
                <span>{{ "next" | translate }}</span>
              </button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="isLoading === 'account'">
            <mask-load></mask-load>
          </ng-container>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [completed]="!!passwordFormGroup.value.password">
    <form [formGroup]="passwordFormGroup">
      <ng-template matStepLabel>{{ "fill_password" | translate }}</ng-template>
      <div class="item-box">
        <div class="item-text mb10">
          <div></div>
          <div class="item-row set-ipt">
            <input
              type="password"
              formControlName="password"
              [placeholder]="'import_password' | translate"
            />
            <mat-icon
              *ngIf="passwordFormGroup.controls.password.value != ''"
              (click)="resetCol(passwordFormGroup.controls.password)"
              svgIcon="cancel"
            ></mat-icon>
          </div>
          <validation-messages
            [control]="passwordFormGroup.controls.password"
          ></validation-messages>
        </div>
        <div>
          <ng-container *ngIf="isLoading !== 'password'">
            <button
              class="button bg-brick auto"
              style="margin-right: 10px;"
              matStepperPrevious
            >
              <span>{{ "back" | translate }}</span>
            </button>
            <button
              class="button bg-brick auto"
              (click)="checkLogin()"
              [disabled]="!passwordFormGroup.valid"
              [ngClass]="{ disable: !passwordFormGroup.valid }"
            >
              <span>{{ "login" | translate }}</span>
            </button>
          </ng-container>
          <ng-container *ngIf="isLoading === 'password'">
            <mask-load></mask-load>
          </ng-container>
        </div>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
