<div class="setting-container">
  <div>
    <img src="assets/img/setting.png" alt="Build Image">
  </div>
  <div>
    <ng-container *ngIf="!errorMsg">
      <span class="text">{{ 'building' | translate}}</span>
      <mask-load></mask-load>
    </ng-container>

    <ng-container *ngIf="!!errorMsg">
      <div class="text"><span>{{ errorMsg | translate }}</span></div>
      <button type="button" class="button bg-brick auto" (click)="loginIn()">
        <span>{{'errorBtn'| translate}}</span>
      </button>
    </ng-container>
  </div>
</div>
