.item-box {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.item-box > * {
  display: flex;
}

.item-box > *:last-child {
  height: 35px;
  padding: 15px 0;
}

button {
  width: 100%;
}

.item-text.mb10 > *:first-child,
.item-row.mb10 {
  margin-bottom: 0;
}
