.mat-dialog-actions,
.mat-dialog-title,
.mat-dialog-content {
  margin: 0 !important;
}

mat-dialog-container.mat-dialog-container {
  border-radius: 10px !important;
  padding: 0 !important;
}

.mat-dialog-actions {
    border-top: 2px solid #BFBFBF;
    background-color: #F4F4F1;
}

.mat-dialog-title {
  background-color: #ba1830;
  color: #fff;
  height: 60px;
  opacity: 0.9;
  text-align: center;
  display: flex !important;
}

.mat-dialog-title span{
    font-size: 1.2rem;
    line-height: 60px;
}

.mat-dialog-title .mat-icon{
  width:30px;
  height: 30px;
  font-size: 30px;
  line-height: 65px;
}

.mat-dialog-content {
    background-color: #FFF;
    padding:10px 20px !important;
}
