<div class="container">
  <mat-card>
    <div class="side">
      <img [src]="LoginImg" alt="login-left" class="bg" />
      <div class="logo">
        <img [src]="LogoImg" alt="logo" />
      </div>
      <div class="footer">
        <mat-icon svgIcon="copyright" class="icon-15"></mat-icon>
        <span>{{ COPYRIGHT }}</span>
      </div>
    </div>
    <div class="main">
      <div>
        <div class="option">
          <div>
            <span>{{ "welcome" | translate }}</span>
          </div>
          <div *ngIf="TOGGLELANG" (click)="toggleLang()">
            <mat-icon svgIcon="global" class="icon-25"></mat-icon>
          </div>
        </div>
        <div>
          <app-login></app-login>
        </div>
      </div>
      <div>
        <div>
          <span>{{ "agree" | translate }}</span>
          <span>{{ "policy" | translate }}</span>
          <span>{{ "and" | translate }}</span>
          <span>{{ "terms" | translate }}</span>
        </div>
      </div>
    </div>
  </mat-card>
</div>
