<div class="container">
  <mat-card>
    <div class="side">
      <img [src]="LoginImg" alt="login-left" class="bg" />
      <div class="logo">
        <img [src]="LogoImg" alt="logo" />
      </div>
      <div class="footer">
        <mat-icon svgIcon="copyright" class="icon-15"></mat-icon>
        <span>{{ COPYRIGHT }}</span>
      </div>
    </div>
    <div class="main">
      <div>
        <div class="option">
          <span>{{ "Welcome back" }}</span>
        </div>
        <div>
          <app-login></app-login>
        </div>
      </div>
      <div>
        <span>
          當你註冊開店，即表示你已同意 4ding 隱私權政策與會員條款。
        </span>
      </div>
    </div>
  </mat-card>
</div>
