.container {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 100%;
  background-color: #f0edfc;
}

footer {
  height: 30px;
  flex: 0 0 30px;
  background-color: #444054;
  display: flex;
}

footer > * {
  margin: auto;
}
