<div class="main flex straight-flex">
  <div class="mob-header">
    <div class="mob-logo"><img [src]="LOGOURL" alt="logo" /></div>
    <div class="mob-cms">
      <span>{{ "cms" | translate }}</span>
    </div>
  </div>
  <div class="wrapper">
    <div class="left" [style.background-image]="'url(' + BACKURL + ')'">
      <div class="logo">
        <img [src]="LOGOURL" alt="logo" /> <span>{{ "cms" | translate }}</span>
      </div>
      <div class="copy flex center">
        <mat-icon svgIcon="copyright"></mat-icon>
        <span>{{ COPYRIGHT }}</span>
      </div>
    </div>
    <div class="right">
      <h1>{{ "welcome" | translate }}</h1>
      <form class="flex straight-flex" [formGroup]="form">
        <div class="form-list">
          <label for="account">*{{ "account" | translate }}</label>
          <div class="list">
            <div>
              <input
                type="text"
                formControlName="account"
                [placeholder]="'import_account' | translate"
              />
              <mat-icon
                svgIcon="info"
                *ngIf="
                  !!form.controls.account.touched &&
                  !!form.controls.account.invalid
                "
              ></mat-icon>
            </div>
            <validation-messages
              [control]="form.controls.account"
            ></validation-messages>
          </div>
        </div>
        <div class="form-list">
          <label for="password">*{{ "password" | translate }}</label>
          <div class="list">
            <div>
              <input
                type="password"
                formControlName="password"
                [placeholder]="'import_password' | translate"
              />
              <mat-icon
                svgIcon="info"
                *ngIf="
                  !!form.controls.password.touched &&
                  !!form.controls.password.invalid
                "
              ></mat-icon>
            </div>
            <validation-messages
              [control]="form.controls.password"
            ></validation-messages>
          </div>
        </div>
        <div class="form-list">
          <label for="otp">{{ "otp" | translate }}</label>
          <div class="list">
            <div>
              <input
                type="text"
                formControlName="otp"
                [placeholder]="'import_otp' | translate"
              />
              <mat-icon
                svgIcon="info"
                *ngIf="
                  !!form.controls.otp.touched && !!form.controls.otp.invalid
                "
              ></mat-icon>
            </div>
            <validation-messages
              [control]="form.controls.otp"
            ></validation-messages>
          </div>
        </div>

        <div class="flex">
          <button
            [disabled]="!form.valid"
            [ngClass]="{ disable: !form.valid }"
            (click)="submit()"
          >
            {{ "login" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="local-login"
    (click)="setLocalCMS()"
    [ngClass]="{ active: isLocal }"
  ></div>
</div>
