.container {
  background-color: #eee;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }

  .container > * {
    display: flex;
  }

  .container > *:first-child {
    flex-direction: column;
  }

  header {
    flex: 0 0 55px;
    height: 55px;
    padding: 0 20px;
    background-color: #d5d5f8;
    display: flex;
  }

  header img {
    height: 45px;
    width: auto;
  }

  header > * {
    margin: auto;
  }

  main > * {
    padding: 0 20px;
  }

  footer {
    flex-direction: column;
  }

  footer > * {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  footer > *:first-child {
    color: #727272;
  }
}

/* main */
.mat-card {
  margin: auto;
  padding: 0;
  display: flex;
  width: 730px;
  height: 560px;
}

.mat-card > * {
  height: 100%;
}

.mat-card .side {
  flex: 0 0 195px;
  width: 195px;
  background-color: #d5d5f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-card > *:not(.side) {
  flex: 1 1 100%;
}

/* Side */
.side .bg {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 0;
  width: auto;
}

.side > *:not(.bg) {
  z-index: 1;
  color: #fff;
  display: flex;
}

.side .logo img {
  width: 150px;
  margin: auto;
  padding: 20px 0;
}

/* Footer */
footer {
  font-size: 0.6rem;
  justify-content: center;
}

footer > * {
  margin: auto 0;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4d4d4d;
}

main .option {
  margin-top: 30px;
  flex: 0 0 35px;
  height: 35px;
  font-size: 1.5rem;
  border-bottom: 1px solid #4d4d4d;
  display: flex;
  justify-content: space-between;
}

main > *:last-child {
  padding-bottom: 20px;
  font-size: 0.6rem;
  color: #4d4d4d;
  display: flex;
}

main > *:last-child > * {
  margin: auto;
}

@media screen and (min-width: 768px) {
  footer > * {
    padding-bottom: 20px;
  }

  main {
    padding: 0 40px;
  }
}

/* item-row */
.item-row {
  padding: 10px;
  cursor: pointer;
  color: #4d4d4d;
  border-radius: 10px;
  background-color: #eee;
  font-size: 0.8rem;
}

.item-row:not(:last-child) {
  border-bottom: 1px dotted #4d4d4d;
}

.item-row:hover,
.item-row.active {
  background-color: #d5d5f8;
}

/* Other */
.local-login {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 20px;
  width: 20px;
}

.local-login.active {
  background-color: #f3961c;
}
